/*
 * Sidebar
 */

.sidebar {
    height: 100vh;
    position: fixed;
    z-index: 99;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid #3E649229;
}

.sidebar-link {
    color: black;
}

.sidebar .active {
    color: #000000;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}